*{
    margin: 0;
    padding: 0;
    user-select: none;
    animation: fade .3s ease 1;
}
body{
    background-color:aliceblue;
    overflow-x: hidden;
}

@font-face {
    font-family: ip;
    src: url(../Text/font/Ios\ Kohinoor\ font.ttf);
}


@font-face {
    font-family: poopins;
    src: url(../Text/font/Poppins-Regular.ttf);
}

.level{
    padding-left: 5%;
    padding-top: 10%;
    font-family: poopins;
    width: 90%;
    font-weight: bold;
    font-size: clamp(20px,5vw,48px);
    height: 5rem;
}

.progress{
    width: 40%;
    height: 3rem;
    margin-top: 3%;
    box-shadow: 0px 0px 10px silver;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.sub{
    width: 25%;
    z-index: 1000;
    height: 3rem;
    border-radius: 5px;
    background-color: rgb(30, 255, 0);
}

.sub2{
    width: 40%;
    z-index: 1000;
    height: 3rem;
    border-radius: 5px;
    background-color: rgb(30, 255, 0);
}

.ground{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    height: auto;

}

.bgg{
    width: 100%;
    border-radius: 10px;
    height: auto;
    padding-bottom: 10%;
    background-color:aliceblue;
}

.intro{
    width: 30%;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: poopins;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 5%;
    box-shadow: 0px 0px 20px rgb(212, 210, 210);
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 5px;
    height: 1rem;
    background-color:rgb(0, 0, 0);
}

.title20{
    width: 60%;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: poopins;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 6%;
    box-shadow: 0px 0px 20px rgb(212, 210, 210);
    margin-top: 5%;
    margin-left: 7%;
    border-radius: 5px;
    height: 1rem;
    background-color:rgb(0, 0, 0);
}

.comment{
    width:48%;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: poopins;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 5%;
    box-shadow: 0px 0px 20px rgb(212, 210, 210);
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 5px;
    height: 1rem;
    background-color:rgb(0, 0, 0);
}
#font{
    font-family: poopins;
}
.basic{
    width:30%;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: poopins;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 5%;
    box-shadow: 0px 0px 20px rgb(212, 210, 210);
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 5px;
    height: 1rem;
    background-color:rgb(0, 0, 0);
}

#tags{
    margin-left: 32%;
    padding-bottom: 5%;
}

#tags2{
    margin-left: 28%;
    padding-bottom: 5%;
}

.common{
    width:55%;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: poopins;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 5%;
    box-shadow: 0px 0px 20px rgb(212, 210, 210);
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 5px;
    height: 1rem;
    background-color:rgb(0, 0, 0);
}

.kothai{
    width:65%;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: poopins;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 5%;
    box-shadow: 0px 0px 20px rgb(212, 210, 210);
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 5px;
    height: 1rem;
    background-color:rgb(0, 0, 0);
}

.tag{
    width: 35%;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: poopins;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 5%;
    box-shadow: 0px 0px 20px rgb(212, 210, 210);
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 5px;
    height: 1rem;
    background-color:rgb(0, 0, 0);
}

.tag2{
    width: 50%;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: poopins;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 7%;
    box-shadow: 0px 0px 20px rgb(212, 210, 210);
    margin-top: 5%;
    margin-left: 7%;
    border-radius: 5px;
    height: 1rem;
    background-color:rgb(0, 0, 0);
}

.file{
    width: 33%;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: poopins;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 5%;
    box-shadow: 0px 0px 20px rgb(212, 210, 210);
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 5px;
    height: 1rem;
    background-color:rgb(0, 0, 0);
}

.dot{
    z-index: 1000;
    width: 6px;
    margin-right: 5%;
    height: 6px;
    background-color: red;
    border-radius: 50px;
}

.dot1{
    z-index: 1000;
    width: 6px;
    margin-right: 5%;
    height: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}
@font-face {
    font-family: kp;
    src: url(../Text/font/kalpurush.ttf);
}

p{
    width: 80%;
    align-self: center;
    margin-left: 5%;
    box-shadow: 0px 0px 10px silver;
    background-color: rgb(255, 255, 255);
    height: auto;
    margin-top: 5%;
border-radius: 10px;
    font-family: ip;
    padding: 20px;
}

.photo{
    width: 50px;
    height: 50px;
    background-image: url(../Photo/HtmlEditor.png);
    background-size: cover;
}

.tg{
    padding: 4%;
    margin-top: 5%;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: poopins;
    /* background-color: rgb(0, 0, 0); */
}

.lvl{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    height: 2rem;
    background-color: black;
    border-radius: 50px;
}

.p{
    width: 80%;
    align-self: center;
    margin-left: 5%;
    box-shadow: 0px 0px 10px silver;
    background-color: rgb(255, 255, 255);
    height: auto;
    margin-top: 5%;
border-radius: 10px;
    font-family: ip;
    padding: 20px;
}


@keyframes fade {
    from{
   opacity: 0;
    }
    to{
      opacity: 1;
    }
  }