
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
   
}

@font-face {
    font-family: 'iphone';
    src: url(../font/Ios\ Kohinoor\ font.ttf);
}


#aa{
    text-decoration: none;
    color:inherit;
}



body{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}



.header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    justify-content: space-evenly;
    height: 50px;
    background-color: black;
    box-shadow: 0 5px 25px rgba(70, 150, 243,1);
}

#Home{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 10px;
    height: 60px;
    margin-top: -3%;
    color:white;

}

#ebook{
    width: 15%;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    height: 40px;
color: white;
}



#Motivations{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: -3%;
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    color:white;

}


#Syllabus{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: -3%;
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    color: white;

}



.ai-logo{
    position: absolute;
}


.chat-container {
    width: 100%;
    position: absolute;
    z-index: -1;
    display: flex;
    max-width: 100%;
    user-select: none;
    border: none;
    height: 70%;
    font-family: "Fira Sans", sans-serif;
    background: white;
 
}
.chatbox {
    display: flex;
    position:absolute ;
    width: 100%;
    max-width: 100%;
    background-color: white;
    border: none;
    font-family: "Fira Sans", sans-serif;
    flex-direction: column;
}

.messages {
    height: 75%;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 25%; 
    margin-left: 5%;
    /* box-shadow: 0px 5px 13px 2px rgb(179, 182, 184); */
    user-select: text;
    z-index: -1;
    background-color: rgb(255, 255, 255);
    overflow-x: auto;
    border-radius: 25px;
    width: 90%;
    font-family: "Fira Sans", sans-serif;
 
}
.messages div {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(10px);
    font-family: "Fira Sans", sans-serif;
    animation: fadeIn 0.1s forwards;
}
.user-message {
  justify-content: flex-end;
  margin-right: 10px;
  height: auto;
    font-family: "Fira Sans", sans-serif;
}
.bot-message {
    margin-left: 3px;
    margin-top: 10px;
    
    justify-content: flex-start;
    font-family: "Fira Sans", sans-serif;
}
.profile-pic {
    border-radius: 50%;
    width: 30px;
    object-fit: cover;
    height: 30px;
    margin: 5px;
}
.user-message .message-text {
    background-color: #007bff;
    color: white;
    padding: 10px;
    box-shadow: 10px 10px 10px rgb(208, 209, 209);
    font-size: 12px;
    font-family: "Fira Sans", sans-serif;
    border-radius: 10px;
}
.bot-message .message-text {
    background-color:lavender;
    color:black;
    padding: 10px;
    margin-top: 2%;
    box-shadow: 10px 10px 10px rgb(208, 209, 209);
    border-radius: 10px;
    font-size: 12px;
    font-family: "Fira Sans", sans-serif;
    max-width: 70%;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.bottom{
    width: 100%;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    position: absolute;
    margin-top: 185%;
    /* bottom: 0; */
    /* position: relative; */
}

input{
    width: 65%;
    outline: none;
    margin-top: -010%;
    box-shadow: -2px 1px 13px 2px rgb(193, 196, 198);
    border: none;
    position: absolute;
    font-family: "Fira Sans", sans-serif;
text-align: center;
margin-left: -30%;
    border-radius: 50px;
    height: 45px;
    background-color: rgb(255, 255, 255);
}

input:hover{
    background-color: rgb(246, 246, 246);
    outline: none;
}



.back-button{
    position: absolute;
    margin-top: -177%;
    background-color:white;
    color:black;
    width: 40px;
    margin-left: -75%;
    font-size: 15px;
    z-index: 1;
    border: none;
    box-shadow: 2px 10px 25px #adaeae;
    border-radius: 50px;
    transition-duration: 0.2s;
    height: 40px;
}

.back-button:hover{
    opacity: 0.3;
    box-shadow: 2px 10px 25px #8d8e8e;
    transform: scale(1.1);
}

#sendBtn{
    height: 45px;
    border: none;
    margin-left: 50%;
    color: white;
    background-color: #007bff;
    border-radius: 50px;
    outline: none;
    box-shadow: 2px 10px 13px 2px rgb(193, 196, 198);
    position: absolute;
    width: 45px;
    margin-top: -10%;
    font-size: 20px;
    transition-duration: 0.3s;
}

#sendBtn:hover{
    transform: scale(1.1);
      background-color: #0670e1;
}

.delete-btn{
    font-size: 15px;
    margin-top: -10%;
    color: white;
    margin-left: 80%;
    border: none;
    background-color: red;
    border-radius: 50px;
    height: 45px;
    box-shadow: 2px 10px 13px 2px rgb(193, 196, 198);
    position: absolute;
    width: 45px;
}


.delete-btn:hover{
    background-color: rgb(218, 10, 10);
}

.logo-ai{
    position: absolute;
    top: 0;
}

.containn{
    margin-left: -100%;
    margin-top: -195%;
}