@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
   font-family: "poppins", sans-serif ;
   margin: 0;
   padding: 0;
   animation: fade .3s ease 1;
   user-select: none;
   box-sizing: border-box;
}

:root {
   /*Dark mode colors*/
    --text-color:black;
   --subheading-color:white;
   --placeholder-color: #fdfafa;
   --primary-color: white;
   --secondary-color: lavender;
   --secondary-hover-color:white;
   --primary-shadow:rgb(210, 209, 209);
   --recent-color:rgb(95, 98, 101);
   --button-color:rgb(255, 252, 252);
   --button-text:#000000;
}

.light_mode{
   --text-color:#222;
   --subheading-color:#A0A0A0;
   --placeholder-color:#FFF;
   --primary-color:#FFF;
   --primary-shadow:rgb(170, 165, 165);
   --secondary-color:#E9EEF6;
   --button-text:#ffffff;
   --button-color:rgb(0, 0, 0);
   --secondary-hover-color:#DBE1EA;
}





.header, .typing-area{
color: var(--text-color);
}


.header{
   margin-top: 7vh;
   padding: 1rem;
   position:absolute;
   scroll-behavior: smooth;
   z-index: 1;
   overflow-y:auto;
  
} 


 .header .title{
   margin-left: 2.7rem;
   font-size: 2.7rem;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 3rem;
   background-clip: text;
   width: fit-content;

   background: linear-gradient(to right, #6196eb , #e91b97);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}


.header .subtitle{
   font-size: 2.4rem;
   color: var(--subheading-color);
  
}



 .typing-area{
   position: absolute;
   width: 100%;
   /* bottom: 0px; */
   max-width: 100%;
   height: 1rem;
   padding: 2rem;
   display: flex;
   align-items: center;
   background: var(--primary-color);

}



.typing-area .typing-input{
   width: 100%;
   height: 100%;
   background: lavender;
   border: none;
   outline: none;
   font-size: 15px;
   border-radius: 6.2rem;
   color: var(--text-color);
   padding: 1.1rem 4rem 1.1rem 1.5rem;
}


.typing-area .input-wrapper{
   height: 46px;
   width: 100%;
   display: flex;
   /* font-size: 10px; */
   position: relative;
}


.typing-area .icon{
   background: var(--secondary-color);
   height: 46px;
   width: 46px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   cursor: pointer;

}


.typing-area .input-wrapper .icon{
   position: absolute;
   right:0;
   outline: none;
   border: none;
   color: var(--text-color);
   background:none;
   transform: scale(0);
   transition: transform 0.2s ease;
}


.typing-area .icon:hover{
   background: var(--secondary-hover-color)!important;
}






.typing-area .input-wrapper .typing-input:valid~ .icon{
   transform: scale(1);
}


.chat-list .message .avatar{
   width: 30px;
   height: 30px;
   z-index: -1;
   object-fit: cover;
   align-self: flex-start;

   border-radius: 50%;
}


.chat-list .message .text{
   color: var(--text-color);
}



.chat-list{
   display: flex;
   font-size: 14px;
   flex-direction: column;
   width: 100%;
   z-index: -1;
   height:700px; 
   padding: 1rem 1rem 12rem;
 
   overflow-y: auto;
   overflow-x: hidden;
   scrollbar-color: #62a3e8 transparent;
 scroll-behavior: smooth; 
 }
.chat-list .message.incoming{
   margin-top:1.5rem;
   /* margin-left: -5%; */
}

.chat-list .message .message-content{
display: flex;
gap: 1rem;
width: 100%;
align-items: center;
}


.chat-list .message.loading .avatar{
   animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
   100%{
      transform: rotate(360deg);
   }
}



.chat-list .message.loading .text{
   display: none;
}

.chat-list .message .icon{
   height: 45px;
   width: 45px;
   z-index: -1;
   cursor: pointer;
   /* margin-left: 30rem; */
   font-size: 2rem;
   /* background: var(--secondary-color); */
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   color: var(--text-color);
   visibility:hidden;
}
.chat-list .message:not(.loading):hover .icon:not(.hide){
   visibility: visible;
}
.chat-list .message .icon:hover{
   background: var(--secondary-color);
}
.chat-list .loading-indicator{
   display: none;
   width: 100%;
   flex-direction: column;
   gap: 0.4rem;
}

.chat-list .message.loading .loading-indicator {
   display: flex;
}
.chat-list .loading-indicator .loading-bar{
   height: 8px;
   border-radius: 50px;
   width: 100%;
   background: linear-gradient(to right, #206be4, var(--primary-color), #2a20ea);
   animation: animate 3s linear infinite;
}

.chat-list .loading-indicator .loading-bar:last-child{
   width: 70%;
}



@keyframes animate{
   0%{
      background-position: -800px 0;
   }

   100%{
      background-position: 800px 0;
   }
}



.typing-area :where(.typing-form, .action-buttons){
  display: flex;
  gap: 0.50rem;
}






.typing-area .typing-input:focus{
   background: var(--secondary-hover-color);
}


.head{
   position: fixed;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   z-index: 1000;
   display: flex;
   justify-content: c;
   height: 8%;
   background-color: var(--primary-color);
}



.back-button{
   position: fixed;
   margin-left: -80%;
   width:45px;
   margin-top: 2%;
   border-radius: 50px;
   font-size: 15px;
background-color: rgba(178, 178, 247, 0.519);
box-shadow: 0px 4px 9px rgba(200, 199, 199, 0.459);
   border: none;
   transition-duration: 0.2s;
   height: 45px;

}

.back-button:active{
   transform: scale(0.8);
}
h4{
margin-top: 4%;
font-weight: bold;
margin-left: 10%;
   position: absolute;
   font-size: 16px;
   background: linear-gradient(to right, #2e79f1 , #e91b97);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

h5{
   position: absolute;
   font-size: 20px;
   margin-top: 3%;
   margin-left: 77%;
}


@keyframes fade {
   from{
     opacity: 0;
   }
   to{
     opacity: 1;
   }
 }