
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
   
}

@font-face {
    font-family: 'iphone';
    src: url(../font/Ios\ Kohinoor\ font.ttf);
}




#aa{
    text-decoration: none;
    color:inherit;
}

.header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    justify-content: space-evenly;
    height: 70px;
    max-height: 80px;
    background-color: gold;
    box-shadow: 0 5px 25px rgba(70, 150, 243,1);
}

#Home{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    color:white;

}

#Profile{
    width: 15%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    color: white;

}



#Motivations{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    color:#93defc;

}

#Syllabus{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    color: white;

}



.ai-logo{
    position: absolute;
    margin-top: -28px;
    margin-left: -0px;
}


#dot{
    font-size: 06px;
    margin-left: 7%;
    animation: blink 0.5s ease-out infinite;
    margin-top: 6px;
}
@keyframes blink{
    0%{
        color:rgb(20, 220, 20);
    }
    50%{
        color:rgb(20, 220, 20);
    }
    100%{
        color: black;
    }
}

.all-grammer-content{
width: 100%;
height: 1200px;
position: absolute;
display: flex;
z-index: -1;
gap: 025px;
margin-top: 35%;
/* flex-direction: column; */
justify-items: center;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: space-evenly;
align-items: center;
}



.width{
    width:75%;
    height: 5%;
    background-color:rgb(255, 255, 255);
    user-select: none;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
    transition-duration: 0.2s;
    font-size: 15px;
    align-content: center;
    box-shadow: 2px 1px 20px rgb(202, 204, 204);
    font-family: "Fira Sans", sans-serif;
}


.width:hover{
    transform: scale(1.1);
    background-color: gold;
    box-shadow: 2px 10px 20px #b7b8b9;
}

.empty{
    width: 100%;
    height: 10px;
    position: absolute;
    margin-top: 1050px;
}


.back-button{
    position: absolute;
    margin-left: 5%;
    margin-top: 9%;
    background-color:blue;
    color: white;
    width: 40px;
    font-size: 15px;
    z-index: -1;
    border: none;
    box-shadow: 1px 15px 20px 0px #80bdfa;
    border-radius: 50px;
    height: 40px;
}
.category{
    width: 70%;
    height: 50px;
    font-family: "Fira Sans", sans-serif;
    color: black;
    display: flex;
    font-size: 15px;
    margin-top: 15%;
    font-weight: bold;
    margin-left: 15%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
}