
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    align-items: center;
    justify-content: center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'iphone';
    src: url(../font/Ios\ Kohinoor\ font.ttf);
}
.container {
    position: absolute;
    margin-top: 5%;
    font-family: "Fira Sans", sans-serif;
    text-align: center;
    padding: 30px;
    z-index: -1;
    user-select: none;
    font-size: 10px;
    padding-bottom: 40px;
    margin-left: 2%;
    border-radius: 30px;
    /* box-shadow: 0 3px 20px 2px rgb(160, 196, 240); */
    width: 66%;
    max-width: 500px;
}


.quizz{
    background-color: blue;
    color: white;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:center; ;
}

p {
    font-size: 13px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bolder;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button.option {
    padding: 15px;
    background-color:white;
    border: none;
    border-radius: 28px;
    box-shadow: 0 3px 10px 2px rgb(229, 230, 232);
    font-size: 15px;
    color: #333;
    cursor: pointer;
    transition-duration: 0.2s;
    transition: 0.3s ease;
}

button.option:hover {
    box-shadow: 0 3px 10px 2px rgb(211, 212, 212);
}

button.correct {
    background-color: #0fd83e !important;
    color: black;
}

button.wrong {
    background-color: #d30c20 !important;
    color:black;
}

#quiz-container {
    width: 300px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: relative;
}

#question-title{
    color: blue;
}

#question-text {
    margin-top: 10px;
    font-family: iphone;
    font-size: 16px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    background-color: #e0e0e0;
    border: none;
    padding: 10px;
    font-family: iphone;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.option.correct {
    background-color: #72ed76;
    color: white;
}

.option.wrong {
    background-color: #f44336;
    color: white;
}



.box{
    width: 40%;
    display: flex;
    margin-left: 55%;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #ff3333;
    box-shadow: 12px 10px 13px rgb(193, 196, 198);
    margin-top: 136%;
    z-index: -1;
    user-select: none;
    border-radius: 20px;
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
    font-size: 25px;
    height: 110px;
    transition-duration: 0.3s;
}
.box:hover{
    transform: scale(1.2);
    box-shadow:2px 12px 10px 2px rgb(201, 202, 203) ;
}


.ai-logo{
    position: absolute;
    margin-top: -28px;
    margin-left: -0px;
}


.box1{
    width: 40%;
    display: flex;
    margin-left: 55%;
    position: absolute;
    justify-content: center;
    align-items: center;
    color:black;
    background-color: gold ;
    box-shadow: 12px 10px 13px rgb(193, 196, 198);
    margin-top: 96%;
    user-select: none;
    border-radius: 20px;
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
    font-size: 25px;
    z-index: -1;
    height: 110px;
    transition-duration: 0.3s;
}
.box1:hover{
    transform: scale(1.2);
    box-shadow:2px 12px 10px 2px rgb(199, 199, 201) ;
}

.next{
    position: absolute;
    width: 35%;
    height: 6%;
    user-select: none;
    color: white;
    border-radius: 30px;
    background-color: black;
    margin-top: 145%;
    z-index: -1;
    display: flex;
    justify-content: center;
    font-family: "Fira Sans", sans-serif;
    align-items: center;
    transform: scale(1.3);
    margin-left: 26%;
    box-shadow:12px 12px 10px  rgb(207, 211, 226) ;
    transition-duration: 0.2s;
}
.next:active{
    font-family: "Fira Sans", sans-serif;
    user-select: none;
    transform: scale(1.1);
}