*{
          margin: 0;
          padding: 0;
}

.main{
          width: 90%;
          /* margin-top: 10%; */
          height: auto;
          font-family: head;
          background: linear-gradient(135deg, rgb(201, 201, 254) 0%, aliceblue 100%);
          border: none;
          padding: 20px;
          font-size:17px;
          padding-top: 20px;
          line-height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding-bottom: 40px;

}
h1{
          margin-top: 15%;
          font-size: 23px;
}

@font-face {
          font-family: 'head';
          src: url(../font/RobotoCondensed-Regular.ttf);
        }

        .back-button{
          position: absolute;
          width: 40px;
          border: none;
          margin-top:3%;
          margin-left: 5%;
          box-shadow: 0px 10px 30px rgba(136, 189, 227, 0.599);
          border-radius: 50px;
          height: 40px;
          background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
          color: whitesmoke;
        }


        p{
          width: 90%;
          height: auto;
          margin-top: 5%;
        }