
body {
          margin: 40px;
          color: #333;
        }
    
        input[type="text"] {
          width: 100%;
          padding: 12px;
          border:none;
          border-radius: 50px;
          margin-bottom: 20px;
          outline: none;
          font-size: 16px;
          text-align: center;
          box-shadow: 0px 0px 6px rgba(116, 115, 115, 0.37);
          transition: all 0.3s ease;
        }
        input[type="text"]:focus {
          border-color: #5dade2;
          box-shadow: 0px 0px 12px rgba(16, 153, 245, 0.8);
        }

     
        .paragraph{
          margin-top: 10%;
          height: auto;
          padding: 20px;
          background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
          box-shadow: 10px 6px 15px rgba(186, 185, 185, 0.959);
          transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
          position: relative;
          transition: transform 0.3s ease-in-out;
          border-radius: 20px;
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            font-family: head;
            color:white;

        }
    
        .paragraph h1, .paragraph h2 {
          font-size: 1.3em;
          margin: 0 0 10px;
        }
    
    
        #noResults {
          margin-top: 20px;
          font-size: 1em;
        }
    
        .hidden {
          display: none;
        }

        @font-face {
          font-family: 'head';
          src: url(../font/RobotoCondensed-Regular.ttf);
        }

        h1{
          font-family: head;
        }

        a{
          text-decoration: none;
          color: white;
          font-family: head;
        }

        .more{
          width:80px;
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 13px;
          align-items: center;
          height: 30px;
          background: linear-gradient(135deg, #b3beef 0%, #d3dff2 100%);
          margin-left:30%;
          color: black;
          font-family: head;
          user-select: none;
          transform: scale(1.3);
        
          transition-duration: 0.3s;
          border-radius: 50px;
        }
        .more:active{
          transform: scale(1.05);
        }

        .back-button{
          width: 40px;
          border: none;
          box-shadow: 0px 10px 30px rgba(136, 189, 227, 0.599);
          border-radius: 50px;
          height: 40px;
          background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
          color: whitesmoke;
        }

        p{
          opacity: 0.8;
        }