
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    padding: 0;
    font-weight: bold;
}


.update-text{
    font-size: 25px;
    position: absolute;
    background: linear-gradient(to right, blue,deeppink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10%;
    margin-left: 34%;
}
.update-image{
    margin-top: 25%;
}


.back-button{
    position: absolute;
    margin-left: 7%;
    margin-top: -15%;
    background-color:blue;
    color: white;
    width: 40px;
    font-size: 15px;
    border: none;
    box-shadow: 1px 15px 20px 0px #80bdfa;
    border-radius: 50px;
    height: 40px;
    transition-duration: 0.2s;
}


.back-button:hover{
    transform: scale(1.2);
}