

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
     color: #333;
     /* background-color: rgb(243, 243, 245); */
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 main {
     flex-grow: 1;
     display: flex;
     z-index: -1;
     margin-top: 35%;
     justify-content: center;
     align-items: center;
     overflow: hidden;     
 }



 @font-face {
     font-family: iphone;
     src: url(../font/Ios\ Kohinoor\ font.ttf);
 }

 
.header{
     display: flex;
     width: 100%;
     flex-wrap: wrap;
     align-items: center;
     position: fixed;
     border-bottom-left-radius: 25px;
     border-bottom-right-radius: 25px;
     justify-content: space-evenly;
     height: 60px;
     max-height: 80px;
     background-color: black;
     box-shadow: 0 5px 25px rgba(70, 150, 243,1);
 }
 
 
 
 #Home{
     width: 15%;
     display: flex;
     font-weight: bold;
     align-items: center;
     justify-content: center;
     font-size: 23px;
     height: 40px;
     color:white;
 
 }
 
 
 #dot{
     font-size: 06px;
     margin-left: 7%;
     animation: blink 0.5s ease-out infinite;
     margin-top: 6px;
 }
 @keyframes blink{
     0%{
         color:rgb(20, 220, 20);
     }
     50%{
         color:rgb(20, 220, 20);
     }
     100%{
         color: black;
     }
 }
 #Profile{
     width: 15%;
     display: flex;
     text-decoration: none;
     align-items: center;
     justify-content: center;
     font-size: 25px;
 font-size: min(25px);
     border-radius: 10px;
     height: 60px;
     max-height: 90px;
     color: white;
 
 }
 
 #Motivations{
     width: 15%;
     font-size: 23px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 10px;
     max-height: 90px;
     color:#93defc;
 
 }
 
 #Syllabus{
     width: 15%;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 23px;
     border-radius: 10px;
     height: 60px;
     max-height: 90px;
     color: white;
 
 }

 .ai-logo{
     position: absolute;
     margin-top: -28px;
     margin-left: -0px;
 }
  


 
 .nextt{
    position: absolute;
     border-radius: 40px;
     margin-left: 30%;
     margin-top: 140%;
     width: 40%;
     padding: 10px 20px;
     font-size: 1em;
     border: none;
     transition-duration: 0.3s;
     outline: none;
     color: black;
     box-shadow: 2px 10px 13px rgb(210, 211, 212);
          background-color: gold;
      }

      
 .nextt:hover{
    transform: scale(1.2);
 }

 
      #wordContainer {
        background-color: white;
        width: 60%;
        box-shadow: 2px 1px 13px 3px rgb(201, 201, 246);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        font-family: iphone;
        font-weight: bold;
        border-radius: 10px;
        height: 250px;
        position: absolute;
        margin-left: 20%;
        margin-top: 60%;
        font-size: 1.3em;
    }
   