
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
   
}

@font-face {
    font-family: 'iphone';
    src: url(Ios\ Kohinoor\ font.ttf);
}

body{
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-color: rgb(238, 238, 242);
    z-index: -1;
}


#aa{
    text-decoration: none;
    color:inherit;
}
.header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    justify-content: space-evenly;
    height: 70px;
    max-height: 80px;
    background-color: black;
    box-shadow: 0 5px 25px rgba(70, 150, 243,1);
}

#Home{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    color:white;

}

#Profile{
    width: 15%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    color: white;

}



#Motivations{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    color:white;

}

#Syllabus{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    color: white;

}



.ai-logo{
    position: absolute;
    margin-top: -28px;
    margin-left: -0px;
}


.chat-container {
    width: 100%;
    position: absolute;
    margin-top: 24%;
    z-index: -1;
    display: flex;
    max-width: 100%;
    user-select: none;
    border: none;
    height: 70%;
    font-family: "Fira Sans", sans-serif;
    background: white;
 
}
.chatbox {
    display: flex;
    width: 100%;
    max-width: 100%;
    background-color: white;
    border: none;
    font-family: "Fira Sans", sans-serif;
    flex-direction: column;
}
.messages {
    height: 75%;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 26%; 
    margin-left: 10%;
    user-select: text;
    z-index: -1;
    background-color: rgb(223, 226, 226);
    overflow-x: auto;
    border-radius: 5px;
    width: 80%;
    font-family: "Fira Sans", sans-serif;
 
}
.messages div {
    margin-bottom: 8px;
    display: flex;
    /* background-color: black; */
    align-items: center;
    opacity: 0;
    transform: translateY(10px);
    font-family: "Fira Sans", sans-serif;
    animation: fadeIn 0.1s forwards;
}
.user-message {
  justify-content: flex-end;
  margin-right: 10px;
  height: auto;
    font-family: "Fira Sans", sans-serif;
}
.bot-message {
    margin-left: 7px;
    justify-content: flex-start;
    font-family: "Fira Sans", sans-serif;
}
.profile-pic {
    border-radius: 50%;
    width: 50px;
    object-fit: cover;
    height: 50px;
    margin: 5px;
    /* margin: 0 10px; */
}
.user-message .message-text {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-family: "Fira Sans", sans-serif;
    border-radius: 10px;
}
.bot-message .message-text {
    background-color: #e1e1e1;
    color:black;
    padding: 10px;
    border-radius: 10px;
    font-family: "Fira Sans", sans-serif;
    max-width: 70%;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.bottom{
    width: 100%;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    /* background-color: blue; */
    /* bottom: 0; */
    position: absolute ;
    margin-top: 166%;
}

input{
    width: 65%;
    outline: none;
    border: none;
    position: absolute;
    font-family: "Fira Sans", sans-serif;
text-align: center;
margin-left: -20%;
    border-radius: 50px;
    margin-top: 25%;
    height: 40px;
    background-color: rgb(230, 230, 245);
}

input:hover{
    background-color: rgb(219, 219, 244);
    outline: none;
}



#sendBtn{
    height: 35px;
    border: none;
    color: white;
    background-color: #007bff;
    border-radius: 50px;
    outline: none;
    position: absolute;
    margin-top: 25%;
    width: 35px;
    margin-left: 57%;
    font-size: 20px;
    transition-duration: 0.3s;
}

#sendBtn:hover{
    transform: scale(1.1);
      background-color: #0670e1;
}

.delete-btn{
    font-size: 15px;
    color: white;
    border: none;
    background-color: red;
    border-radius: 50px;
    height: 35px;
    position: absolute;
    margin-top: 25%;
    margin-left: 80%;
    width: 35px;
}


.delete-btn:hover{
    background-color: rgb(218, 10, 10);
}