

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    /* background-color: silver; */
}

@font-face {
    font-family: 'iphone';
    src: url(Ios\ Kohinoor\ font.ttf);
}
body{
    background-color:#f2f2f2;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
#aa{
    text-decoration: none;
    color:inherit;
}
.header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    justify-content: space-evenly;
    /* justify-content: center; */
    height: 50px;
    max-height: 80px;
    background-color: black;
    box-shadow: 0 5px 25px rgba(70, 150, 243,1);
}

#Home{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
/* font-size: min(25px); */
    border-radius: 10px;
    margin-top: -3%;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color:white;

}
#dot{
    font-size: 06px;
    margin-left: 7%;
    animation: blink 0.5s ease-out infinite;
    margin-top: 6px;
}
@keyframes blink{
    0%{
        color:rgb(20, 220, 20);
    }
    50%{
        color:rgb(20, 220, 20);
    }
    100%{
        color: black;
    }
}

#Profile{
    width: 15%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 10px;
    
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color: white;

}



#Motivations{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: -3%;
/* font-size: min(25px); */
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color:#93defc;  

}

#Syllabus{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: -3%;
/* font-size: min(25px); */
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color: white;

}



.ai-logo{
    position: absolute;
    margin-top: -36px;
    margin-left: -18px;
    /* width:20% ;
    margin-left: 40%; */
}

.containerr{
    text-align: center;
    padding: 20px;
    user-select: none;
    position: absolute;
    width: 65%;
    z-index: -1;
    height: auto;
    flex-direction: column;
    margin-left: 12%;
    display: flex;
    margin-top: 50%;
    border-radius: 20px;
    background-color: white;
    box-shadow: -2px 10px 13px 2px  rgb(193, 196, 198);

}





.empty{
    text-align: center;
    padding: 20px;
    user-select: none;
    position: absolute;
    width: 70%;
    height: auto;
    flex-direction: column;
    margin-left: 10%;
    display: flex;
    margin-top: 650px;
    border-radius: 8px;
  

}

button{
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 20%;
    font-weight: bold;
    background-color: blue;
    box-shadow: -2px 10px 23px rgb(199, 207, 212);
    color:white;
    width: 80%;
    height: 40px;
    margin-left: 10%;
    border: none;
    font-family: "Fira Sans", sans-serif;
    border-radius: 25px;
    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover {
    background-color:#0a0ab4;
    transform: scale(1.1);
    font-family: "Fira Sans", sans-serif;
}


#banglaFact{
    /* position: absolute; */
    margin-top: 20%;
    font-size: 15px;
  font-family: iphone;
}


h1{
    padding-top: 4%;
    font-size: 17px;
    font-family: iphone;
}