@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    padding: 0;
    margin: 0;
}



body{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}



#aa{
    text-decoration: none;
    color:inherit;
}

.header{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    justify-content: space-evenly;
    /* justify-content: center; */
    height: 70px;
    max-height: 80px;
    background-color: black;
    box-shadow: 0 5px 25px rgba(70, 150, 243,1);
}

#Home{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color:white;

}
#dot{
    font-size: 06px;
    margin-left: 7%;
    animation: blink 0.5s ease-out infinite;
    margin-top: 6px;
}
@keyframes blink{
    0%{
        color:rgb(20, 220, 20);
    }
    50%{
        color:rgb(20, 220, 20);
    }
    100%{
        color: black;
    }
}
#Profile{
    width: 15%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color: white;

}



#Motivations{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color: white;

}

#Syllabus{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color:cyan;

}


.ai-logo{
    position: absolute;
    margin-top: -28px;
    /* margin-left: -14px; */
    /* width:20% ;
    margin-left: 40%; */
}


h1{
    margin-top: 110%;
    position: absolute;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    background-color: red;
    box-shadow: 12px 10px 23px rgb(193, 196, 198);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 30%;
    height: 40px;
    margin-left: 0;
    z-index: -1;

}




#book-logo{
    position: absolute;
    margin-top: 27%;
    z-index: -1;
    margin-left: 11%;
}


.books{
    display: flex;
    padding-left: 10%;
position: absolute;
z-index: -1;
margin-top:140%;
height: auto;
    flex-direction:row;
    padding-right: 10%;
    flex-wrap: wrap;
    /* column-gap: 240px; */
    row-gap: 103px;
    justify-content: space-between;
}




.download-link{
    display: flex;
    padding-left: 15%;
    position: absolute;
    /* padding-right: -10%; */
    margin-top:186%;
    z-index: -1;
    text-decoration: none;
    flex-wrap: wrap;
    column-gap: 130px;
    row-gap: 210px;

}

.download{
    width: 155%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 12px 10px 23px rgb(175, 178, 180);
    color: white;
    font-size: 12px;
    margin-left: -10%;
    z-index: -1;
    text-decoration: none;
    height: 27px;
    font-family: "Fira Sans", sans-serif;
border-radius: 15px;
    background-color: rgb(16, 16, 237);
    transition-duration: 0.2s;
}
.download:hover{
    transform: scale(1.1);
    text-decoration: none;
}

.book-shadow{
    box-shadow: 12px 10px 23px rgb(141, 143, 144);
    width: 100px;
    height: 136px;
}

.book-radius{
    border-radius: 5px;
}



.card{
    width: 20px;
    margin-top: -0.50%;
    transform: rotate(40deg);
    position: absolute;
    text-decoration: none;
    margin-left: 6.50%;
    z-index: -1;
    height: 20px;
   background-color: blue;

}








h2{
    margin-top: 380%;
    position: absolute;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    background-color: #00bfff;
    box-shadow: 12px 10px 23px rgb(193, 196, 198);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 30%;
    height: 40px;
    margin-left: 0;
    z-index: -1;

}



.more-book{
    display: flex;
    padding-left: 10%;
position: absolute;
z-index: -1;
margin-top:420%;
text-decoration: none;
height: auto;
    flex-direction:row;
    padding-right: 10%;
    flex-wrap: wrap;
    row-gap: 150px;
    justify-content: space-between;
}


.more-download-link{
    display: flex;
    padding-left: 14%;
    position: absolute;
    margin-top:470%;
    text-decoration: none;
    z-index: -1;
    text-decoration: none;
    flex-wrap: wrap;
    column-gap: 140px;
    row-gap: 255px;

}



.more-download{
    width: 155%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 12px 10px 23px rgb(175, 178, 180);
    color: white;
    font-size: 12px;
    text-decoration: none;
    margin-left: -12%;
    z-index: -1;
    text-decoration: none;
    height: 27px;
    font-family: "Fira Sans", sans-serif;
border-radius: 15px;
    background-color: rgb(16, 16, 237);
    transition-duration: 0.2s;
}
.more-download:hover{
    transform: scale(1.1);
}


.more-card{
    width: 20px;
    margin-top: -0.50%;
    transform: rotate(40deg);
    position: absolute;
    margin-left: 6.50%;
    z-index: -1;
    text-decoration: none;
    height: 20px;
   background-color: blue;

}


@font-face {
    font-family: 'iphone';
    src: url(Ios\ Kohinoor\ font.ttf);
}

.next{
    background-color: gold;
    width: 35%;
    position: absolute;
    margin-left: 35%;
    height: 06%;
    display: flex;
    border-radius: 50px;
    user-select: none;
    z-index: -1;
    font-weight: bold;
    justify-content: center;
    transition-duration: 0.3s;
    align-items: center;
    box-shadow: 12px 10px 23px rgb(153, 190, 215);
    font-family: iphone;
    margin-top: 2350px;
}

.next:hover{
    opacity: 0;
    z-index: -1;
    transform: scale(1.2);
}


.empty{
    /* background-color: gold; */
    width: 30%;
    position: absolute;
    margin-left: 40%;
    height: 01%;
    display: flex;
    border-radius: 50px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-family: iphone;
    margin-top: 2450px;
}





/* 


.loading{
    background-color: gold;
    width: 30%;
    position: absolute;
    margin-left: 35%;
    height: 05%;
    display: flex;
    border-radius: 50px;
    font-weight: bold;
    justify-content: center;
    transition-duration: 0.3s;
    z-index: -1;
    align-items: center;
    font-family: iphone;
    margin-top: 2550px;
} */


/* From Uiverse.io by vinodjangid07 */ 

/* 
.Btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
  }
  
  .svgIcon {
    fill: rgb(214, 178, 255);
  }
  
  .icon2 {
    width: 18px;
    height: 5px;
    border-bottom: 2px solid rgb(182, 143, 255);
    border-left: 2px solid rgb(182, 143, 255);
    border-right: 2px solid rgb(182, 143, 255);
  }
  
  .tooltip {
    position: absolute;
    right: -105px;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(12, 12, 12);
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    left: -5%;
    transition-duration: .3s;
  }
  
  .Btn:hover .tooltip {
    opacity: 1;
    transition-duration: .3s;
  }
  
  .Btn:hover {
    background-color: rgb(150, 94, 255);
    transition-duration: .3s;
  }
  
  .Btn:hover .icon2 {
    border-bottom: 2px solid rgb(235, 235, 235);
    border-left: 2px solid rgb(235, 235, 235);
    border-right: 2px solid rgb(235, 235, 235);
  }
  
  .Btn:hover .svgIcon {
    fill: rgb(255, 255, 255);
    animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
   */