

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
   
}


body{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-color: rgb(249, 246, 246);
}
@font-face {
    font-family: 'iphone';
    src: url(Ios\ Kohinoor\ font.ttf);
}
#aa{
    text-decoration: none;
    color:inherit;
}
.header{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    justify-content: space-evenly;
    /* justify-content: center; */
    height: 70px;
    max-height: 80px;
    background-color: black;
    box-shadow: 0 5px 25px rgba(70, 150, 243,1);
}

#Home{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color:white;

}
#dot{
    font-size: 06px;
    margin-left: 7%;
    animation: blink 0.5s ease-out infinite;
    margin-top: 6px;
}
@keyframes blink{
    0%{
        color:rgb(20, 220, 20);
    }
    50%{
        color:rgb(20, 220, 20);
    }
    100%{
        color: black;
    }
}

#Profile{
    width: 15%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color: white;

}



#Motivations{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color:#93defc;  

}

#Syllabus{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color: white;

}



.ai-logo{
    position: absolute;
    margin-top: -28px;
    /* margin-left: -14px; */
    /* width:20% ;
    margin-left: 40%; */
}





.empty{
    text-align: center;
    padding: 20px;
    user-select: none;
    position: absolute;
    width: 70%;
    height: auto;
    flex-direction: column;
    margin-left: 10%;
    display: flex;
    margin-top: 650px;
    border-radius: 8px;

}

@font-face {
    font-family: 'iphone';
    src: url(Ios\ Kohinoor\ font.ttf);
}

.riddle-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 40px;
    margin-bottom: 20px;
    position: absolute;
    box-shadow: 2px 10px 13px 2px #aaabad;
    height: 46%;
    margin-left: 11%;
    z-index: -1;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-size: 13px;
    margin-top: 250px;
    animation: appear 0.2s linear 1;
}
@keyframes appear {
    
    0%{
        opacity: 0;
        transform: scale(1.2);
    }

100%{
    opacity: 1;
    /* transform: scale(1.1); */
}
}


#view{
    
    position: absolute;
    margin-top: 85%;
    width: 50%;
background-color: rgb(242, 26, 26);
    margin-left: -4px;
    font-size: 14px;
    box-shadow: -2px 10px 13px 2px rgb(190, 194, 194);
}


#get{
    
    position: absolute;
    box-shadow: -2px 10px 13px 2px rgb(193, 196, 198);
    margin-top: 65%;
    width: 50%;
    margin-left: -4px;
    color: white;
    background-color: blue;
    font-size: 14px;
}


#answer{
    position: absolute;
    margin-top: -13%;
    font-weight: bold;
    color: red;
    background-color: white;
    width: 60%;
    height: 12%;
    display: flex;
    animation: ans 0.6s linear 1;
    /* flex-wrap: wrap; */
    border-radius: 50px;
    align-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
justify-content: center;
    box-shadow: 0px 0px 14px  rgb(164, 207, 240);
    font-size: 16px;
    font-family: iphone;
}


@keyframes ans {
    0%{
        margin-top: -100%;
        transform: rotate(150deg);
    }
20%{
 transform: rotate(150deg);
}

40%{
    transform: rotate(120deg);
}

60%{
    transform: rotate(100deg);
}

80%{
    transform: rotate(50deg);
}
100%{
    transform: rotate(0deg);
}
}
#riddle{
    font-size: 15px;
    padding-left: 22px;
    padding-right: 10px;
    font-weight: 500;
    margin-top: 36%;
    user-select: none;
    font-family: iphone;
    /* animation: appear 0.4s linear 1; */
}
.head{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    color: white;
    display: flex;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    box-shadow: -2px 10px 13px 2px rgb(184, 186, 186);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    height: 14%;
    background-color: rgb(70, 70, 235);
}