@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
#aa{
    text-decoration: none;
    color:inherit;
}
.header{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    justify-content: space-evenly;
    /* justify-content: center; */
    height: 70px;
    max-height: 80px;
    background-color: black;
    box-shadow: 0 5px 25px rgba(70, 150, 243,1);
}

#Home{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color:cyan;

}
#dot{
    font-size: 06px;
    margin-left: 7%;
    animation: blink 0.5s ease-out infinite;
    margin-top: 6px;
}
@keyframes blink{
    0%{
        color:rgb(20, 220, 20);
    }
    50%{
        color:rgb(20, 220, 20);
    }
    100%{
        color: black;
    }
}
#Profile{
    width: 15%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color: white;

}



#Motivations{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color: white;

}

#Syllabus{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color: white;

}

#home-logo{
    display: flex;
    flex-wrap: wrap;
    min-width:290px;
    max-width: 500px;
margin-top: 15%;
   width: 60%;
   align-items: center;
}

.home_{
    display: flex;
    user-select: none;
    width: 100%;
    height: auto;
    /* background-color: black; */
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1{
    margin-top: 7%;
    font-family:sans-serif;
    background:linear-gradient(to right,blue,rgb(242, 33, 144));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-size: 3rem; */
    font-size: min(25px);
    margin-left: 10%;
}

#pp{
    margin-left: 10%;
}

h2{
    font-family: "Poppins", sans-serif;
    background:linear-gradient(to left,rgb(6, 17, 237),rgb(224, 93, 154));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2%;
    font-size: min(20px);
}

.welcome-text{
    margin-left: 30%;
}


.pdf{
    display: flex;
    width: 100%;
    height: 160px;
    background-color: black;
    align-items: center;
    justify-items: center;
 align-content: center;

}
.pdf-logo{
    width:20% ;
    margin-left: 40%;
}