@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

#aa{
    text-decoration: none;
    color:inherit;
 }
 

.header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    justify-content: space-evenly;
    height: 70px;
    max-height: 80px;
    background-color: black;
    box-shadow: 0 5px 25px rgba(70, 150, 243,1);
}

#Home{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color:cyan;

}
#dot{
    font-size: 06px;
    margin-left: 7%;
    animation: blink 0.5s ease-out infinite;
    margin-top: 6px;
}
@keyframes blink{
    0%{
        color:rgb(20, 220, 20);
    }
    50%{
        color:rgb(20, 220, 20);
    }
    100%{
        color: black;
    }
}
#Profile{
    width: 15%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    color: white;

}

#Motivations{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color: white;

}

#Syllabus{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color: white;

}


#home-logo{
    display: flex;
    flex-wrap: wrap;
    min-width:290px;
    z-index: -1;
    max-width: 500px;
margin-top: 25%;
   width: 60%;
   align-items: center;
}

.home_{
    display: flex;
    user-select: none;
    width: 100%;
    height: auto;
    /* background-color: black; */
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1{
    margin-top: 7%;
    z-index: -1;
    font-family:sans-serif;
    background:linear-gradient(to right,blue,rgb(242, 33, 144));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-size: 3rem; */
    font-size: min(25px);
    user-select: none;
    margin-left: 22%;
}



#pp{
    margin-left: 10%;
    user-select: none;
}

h2{
    font-family: "Poppins", sans-serif;
    background:linear-gradient(to left,rgb(6, 17, 237),rgb(224, 93, 154));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2%;
    font-size: min(20px);
}

.welcome-text{
    margin-left: 70%;
}

.ai-logo{
    position: absolute;
    margin-top: -35px;
    margin-left: -14px;
    /* width:20% ;
    margin-left: 40%; */
}


.top{
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;
    position: absolute;
    display: flex;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 05%;
    z-index: -1;
    box-shadow: -2px 10px 13px rgb(201, 202, 203);
    background-color: blue;
   color: white;
    margin-top: 20%;
    font-size: 10;
}

#coming{
    margin-left: 32%;
    margin-top: 50%;
    font-size: 20px;
    position: absolute;
}

.social-card{
    position: absolute;
    width: 30px;
    transform: rotate(40deg);
    margin-left:45% ;
    z-index: -1;
    height: 30px;
    background:linear-gradient(to right, blue,deeppink);
    margin-top: 193%;
}

.animate__bounceIn{
    /* position: absolute; */
    margin-top: -10%;
}




.social{
    position: absolute;
    z-index: -1;
    margin-left: 8%;
    font-family: "Fira Sans", sans-serif;
    margin-top: 220%;
}


.icons{
    width: 50%;
    position: absolute;
    margin-left: 30%;
    margin-top: 245%;

}

.fb{
    width: 15%;
    border-radius: 50px;
    display: flex;
    box-shadow: 2px 10px 13px rgb(193, 196, 198);
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    height: 27px;
    transition-duration: 0.3s;
    position: absolute;
    margin-top: -13%;
    margin-left: 6%;
}
.fb:hover{
    transform: scale(1.3);
}


.wp{
    width: 15%;
    border-radius: 50px;
    display: flex;
    box-shadow: 2px 10px 13px rgb(193, 196, 198);
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 229, 12);
    color: white;
    height: 27px;
    transition-duration: 0.3s;
    position: absolute;
    margin-top: -2%;
    margin-left: -14%;
}
.wp:hover{
    transform: scale(1.3);
}



.ig{
    width: 15%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: white;
    height: 27px;
    transition-duration: 0.3s;
    box-shadow: 2px 10px 13px rgb(193, 196, 198);
    position: absolute;
    margin-top: 22%;
    margin-left: -13%;
}
.ig:hover{
    transform: scale(1.3);
}


.tw{
    width: 15%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 176, 245);
    color: white;
    box-shadow: 2px 10px 13px rgb(193, 196, 198);
    height: 27px;
    transition-duration: 0.3s;
    position: absolute;
    margin-top: 30%;
    margin-left: 10%;
}
.tw:hover{
    transform: scale(1.3);
}

.link{
    position: absolute;
    width: 40%;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right, rgb(23, 23, 214) 10%, rgb(225, 7, 7));
    -webkit-background-clip: text;
    font-family: "Fira Sans", sans-serif;
    -webkit-text-fill-color: transparent;
    margin-left: 40%;
    height: 50px;
    margin-top: 210%;
}




h3{
    position: absolute;
    width: 40%;
    border-radius: 50px;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    margin-left: 30%;
    font-family: "Fira Sans", sans-serif;
    height: 40px;
    box-shadow: 2px 10px 13px rgb(193, 196, 198);
    background:linear-gradient(to right, blue,deeppink);
    margin-top: 222%;
}

.carry{
    /* position: absolute; */
    margin-top: -180%;
}



.home_{
    display: flex;
    user-select: none;
    margin-top: -04%;
    width: 10%;
    margin-left: 9%;
    height: auto;
    /* background-color: black; */
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 }
 