
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

a{
  font-size: 15px;
  font-family: "Fira Sans", sans-serif;
    text-decoration: none;
    color:inherit;
 }


 @font-face {
    font-family: 'iphone';
    src: url(font/Ios\ Kohinoor\ font.ttf);
 }
 
 body{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
    width: 100%;
}

#dot{
    font-size: 06px;
    margin-left: 7%;
    animation: blink 0.5s ease-out infinite;
    margin-top: 6px;
}
@keyframes blink{
    0%{
        color:rgb(20, 220, 20);
    }
    50%{
        color:rgb(20, 220, 20);
    }
    100%{
        color: black;
    }
}

.navbar{
  width: 100%;
  display: flex;
  background-color: black;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 1000;
  position: fixed;
  color: white;
  column-gap: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}

.Home{
  width: 6%;
  display: flex;
  font-size: 23px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #9ad9f2;
  height: 4rem;
}

.ebook{
  width: 6%;
  display: flex;
  font-size: 23px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.practice{
  width: 6%;
  display: flex;
  font-size: 23px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
.more{
  width: 6%;
  display: flex;
  font-size: 23px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
}





/* Content Start */
.Top-line{
  width: 100%;
  height: auto;
  height: 17rem;
  display: flex;
  z-index: -1;
  flex-direction: column;
  margin-top: 40%;
  justify-content: center;
  align-items: center;
}

h1{
    background:linear-gradient(to right,blue ,20%,rgb(255, 1, 137));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3rem;
    user-select: none;
    font-family: r-c;
}

@font-face {
    font-family: 'oswald';
    src: url(font/Oswald-Regular.ttf);
}

@font-face {
    font-family: 'r-c';
    src: url(font/RobotoCondensed-Regular.ttf);
}


@font-face {
  font-family: 'satisfy';
  src: url(font/Satisfy-Regular.ttf);
}

#pp{
    width: 80%;
    height: fit-content;
    padding-left: 20px;
    flex-wrap: wrap;
    text-align: center;
    font-family: r-c;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    user-select: none;
}

.explore{
width: 30%;
margin-top: 30%;
font-family: "Fira Sans", sans-serif;
display: flex;
justify-content: center;
user-select: none;
font-size: 12px;
transform: scale(1.3);
transition-duration: 0.3s;
align-items: center;
color: white;
border-radius: 50px;
background-color:black;
box-shadow: 2px 5px 12px rgb(174, 174, 174);
height: 35px;
}

.explore:active{
  transform: scale(1.1);

}
#fonto{
  color:cyan;
}

@font-face {
    font-family:'fira';
    src: url(font/Ios\ Kohinoor\ font.ttf);
}

.balls{
  width: 45px;
  /* z-index: 1000; */
  position: absolute;
  border: none;
  border-radius: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-image: linear-gradient(120deg, #0a1ecde4 0%, #2688f0 100%);
  box-shadow: 0px 4px 0px rgb(4, 78, 174);
}

.gif{
user-select: none;
}  

.bubble{
  width: 60px;
  margin-left: 25%;
  user-select: none;
  margin-top: -14%;
  display: flex;
  object-fit: fill;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-shadow: 0px 0px 15px rgb(110, 130, 228);
  position: relative;
  border-radius: 50px;
  background-image: linear-gradient(120deg, #7f8bf7e4 0%, #dbe8f6 100%);
}

.logo{
  border-radius: 50px;
  user-select: none;
}