@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    font-family: "Fira Sans Condensed", sans-serif;
    padding: 0;
}


.header{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    justify-content: space-evenly;
    /* justify-content: center; */
    height: 70px;
    max-height: 80px;
    background-color: black;
    box-shadow: 0 5px 25px rgba(70, 150, 243,1);
}

#aa{
    text-decoration: none;
    color:inherit;
}


#Home{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color:white;

}


#dot{
    font-size: 06px;
    margin-left: 7%;
    animation: blink 0.5s ease-out infinite;
    margin-top: 6px;
}
@keyframes blink{
    0%{
        color:white;
    }
    50%{
        color:white;
    }
    100%{
        color: black;
    }
}

#Profile{
    width: 15%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color:white;

}


#Motivations{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color: white;

}


#Syllabus{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color: cyan;

}


.content{
    position: absolute;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    max-width: 100%;
    color: white;
    flex-wrap: wrap;

    min-width: 100%;
    justify-content: space-evenly;
    /* gap: 1px; */
    min-height: 400px;
    margin-top:140px;
    align-items: center;
    /* background-color: black; */
}

#Hsc{
max-width: 80%;
max-height: 90px;
border-radius: 10px;
width: 95%;
color: black;
display: flex;
align-items: center;
user-select: none;
justify-content: center;
 height: 90px;
 border: none;
background-color:#e6e6e6;
box-shadow: 12px 10px 13px rgb(193, 196, 198);
transition-duration: 0.3s;
}

#Hsc:hover{
    box-shadow: 12px 10px 13px #999999;
    transform: scale(1.1);
}

#Code{
    max-width: 80%;
    max-height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    justify-content: center;
    width: 80%;
    height: 90px;
  color: black;
  transition-duration: 0.3s;
  background-color:#e6e6e6;
  box-shadow: 12px 10px 13px rgb(193, 196, 198);
   border-radius: 10px;
    }

    
#Code:hover{
    box-shadow: 12px 10px 13px #999999;
    transform: scale(1.1);
}

    #Extra{
        max-width: 80%;
    max-height: 90px;
    display: flex;
    user-select: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    height:90px;
    transition-duration: 0.3s;
    color: black;
    background-color:#e6e6e6;
    box-shadow: 12px 10px 13px rgb(193, 196, 198);
   border-radius: 10px;
    }

    
#Extra:hover{
    box-shadow: 12px 10px 13px #999999;
    transform: scale(1.1);
}
