

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
#aa{
    text-decoration: none;
    color:inherit;
}
.header{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    justify-content: space-evenly;
    /* justify-content: center; */
    height: 70px;
    max-height: 80px;
    background-color: black;
    box-shadow: 0 5px 25px rgba(70, 150, 243,1);
}

#Home{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color:white;

}
#dot{
    font-size: 06px;
    margin-left: 7%;
    animation: blink 0.5s ease-out infinite;
    margin-top: 6px;
}
@keyframes blink{
    0%{
        color:rgb(20, 220, 20);
    }
    50%{
        color:rgb(20, 220, 20);
    }
    100%{
        color: black;
    }
}

#Profile{
    width: 15%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color: white;

}



#Motivations{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color:cyan;

}

#Syllabus{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
font-size: min(25px);
    border-radius: 10px;
    height: 60px;
    max-height: 90px;
    /* background-color:red; */
    color: white;

}


.container {
    text-align: center;
    padding: 20px;
    user-select: none;
    position: absolute;
    width: 70%;
    height: auto;
    flex-direction: column;
    margin-left: 10%;
    display: flex;
    margin-top: 200px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 19px;
    font-weight: bold;
    background-color: rgb(27, 232, 58);
    color: white;
    width: 100%;
    height: 50px;
    border: none;
    font-family: "Fira Sans", sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover {
    background-color:rgb(9, 187, 36);
    font-family: "Fira Sans", sans-serif;
}

#fact {
    margin: 20px 0;
    font-size: 18px;
    /* font-style: italic; */
    font-family: "Fira Sans", sans-serif;
}


h1{
    margin: 20px 0;
    font-size: 20px;
    /* font-style: italic; */
    font-family: "Fira Sans", sans-serif;
}