*{
    margin: 0;
    padding: 0;
    user-select: none;
}
button{
border: none;
background-color: black;
font-size: 1.2rem;
margin-left: -15%;
color: white;

}
.box{
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-evenly;
    z-index: 1000;
    height: 4rem;
    display: flex;
    overflow-x: hidden;
    align-items: center;
    background-color: black;
}
body{
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    animation: fade .4s ease 1;
    background-repeat: no-repeat;
}

h1{
    font-size: clamp(24px,5vw,48px);
    color: white;
    top: 0;
    margin-left: -10%;
    font-family: op;
    user-select: none;
}

@font-face {
    font-family: op;
    src: url(font/Poppins-Regular.ttf);
}
#opp{
  font-size: .9rem;
}
p{
    font-family: op;
    margin-top: 30%;
    padding: 5%;
    height: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color:white;
    font-size: 1rem;
}
.main{
    margin-top: 7%;
    width: 100%;
    height: auto;
    row-gap: 30px;
    column-gap: 30px;
    display: flex;
    padding-bottom: 4%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: aqua; */
}

.bx1{
    width: 75%;
    margin-top: 05%;
    font-family: op;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    font-weight: bold;
    padding-bottom: 5%;
    color: white;
    height: 6rem;
    box-shadow: 0px 0px 15px rgb(168, 168, 168);
    transition-duration: 0.2s;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}
.bx1:active{
    transform: scale(0.9);
}

.copy{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 2rem;
    font-size: 0.8rem;
    font-family: op;

}

/* From Uiverse.io by MikeAndrewDesigner */ 
.e-card {
    margin: 8vh auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.55);
    position: relative;
    width: 250px;
    height: 350px;
    font-family: op;
    border-radius: 16px;
    overflow: hidden;
  }
  .image{
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    height: 4rem;
  }
  
.logo{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    z-index: 1;
    color: white;
    /* border: 1px solid white; */
    font-size: 1.2rem;
    border-radius: 50px;
    background-color:#e34c26;
}
  .border{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 50px;
    background-color: white;
  }
.logo2{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    z-index: 1;
    color: white;
    border: 5px solid white;
    font-size: 1.2rem;
    border-radius: 50px;
    background-color:#0141ff;
}
.logo3{
 z-index: 1;
}
  .wave{
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#9500ff,#2100f777 60%,#6df5ff);
  }
  
  .icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
  }
  
  .infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  
  .name {
    font-size: .9rem;
    font-weight: 100;
    width: 60%;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    height: 3rem;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    top: 1em;
  }
  .name:active{
    transform: scale(.8);
  }
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 210px;
  }
  
  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }
  
  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


#pp{
  font-size: 1rem;
}




@keyframes fade {
  from{
 opacity: 0;
  }
  to{
    opacity: 1;
  }
}